<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Registrar</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.select :plan_id, options_for_select(Plan.all.map{|p|[p.name << '  ------  ' << number_to_currency(p.price, unit: "R$", separator: ",", delimiter: " ")<<' (mensais)', p.id]}), label: 'Escolha um plano' %>
    <%= f.text_field :full_name, autofocus: true, label: 'Nome completo' %>
    <%= f.email_field :email %>
    <%= f.password_field :password, autocomplete: "off", label: 'Senha' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmar Senha' %>
    <%= f.hidden_field :role, value: 'admin' %>
    <%= f.submit "Registrar", class: "btn btn-primary" %>
  <% end %>
  </br>
  <%= render "devise/shared/links" %>
  </div>
</div>






