<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Esqueci minha senha</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.submit "Alterar minha senha", class: "btn btn-primary" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
