<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Acesso</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password, autocomplete: "off", label: 'Senha' %>
    <%= f.submit "Entrar", class: "btn btn-primary" %>
  <% end %>
  </br>
  <%= render "devise/shared/links" %>
  </div>
</div>

